*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:rgb(187, 190, 190);
}
.container{
  max-width: 350px;
  width: 100%;
  margin: auto;
  padding:10px 20px;
  background: #ffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
  margin-bottom: 20px;
  color: rgb(28, 109, 109);
}
.box{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 10px;
}
label{
  font-size: 17px;
  margin: 7px 0;
  color: rgb(5, 75, 75);
}
input{
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  margin-bottom: 30px;
}
button{
  padding: 7px 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  background:rgb(18, 126, 126);
  color: #ffff;
  cursor: pointer;
}
#output{
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 15px 0;

} 
